<%= form_for(@template_question) do |f| %>
  <% if @template_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template_question.errors.count, "error") %> prohibited this template_question from being saved:</h2>

      <ul>
      <% @template_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
